legal.txt
.svn
xilinx
obj_dir
obj-arm
obj-pc
obj-zip
*.o
*.a
*.vcd
.swp
.*.swp
.*.swo
svn-commit*
*_tb
*_tb.dbl
*dbg.txt
*dump.txt
*debug.txt
tags
cpudefs.h
design.h
*.bin
*.blif
*.asc
201*-ico.tjz
201*-build.v
